
.navBarLista{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.navBarItems{
margin: 2%;
padding-left: 10%; 
color: #1d1e1f;
font-weight: bolder;
font-size: 150%;
}